@import '@/variables';

.Sidebar {
  margin-left: 30px;
  margin-right: 100px;

  ul {
    display: flex;
    flex-direction: column;
    width: 228px;
    gap: 32px;

    li {
      position: relative;
      width: fit-content;
      font-family: var(--roboto-font);
      list-style: none;
      font-size: 13px;
      font-weight: 300;
      color: $textDisable;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 0.567739px;
      white-space: nowrap;
      transition: all .1s;
      
      &:before {
        content: '';
        position: absolute;
        height: 9px;
        width: 0;
        background: $BackgroundAccent;
        bottom: -2px;
        left: 0;
        z-index: -1;
        transition: all .3s;
      }
      
      &:hover {
        &:before {
          width: 100%;
        }
      }
      
      &.active {
        font-size: 14px;
        font-weight: 700;
        color: $Base;

        &:before {
          width: 100%;
        }
      }
    }
  }
}